#wrapper {
  position: relative;
}
.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 2em;
  letter-spacing: -0.011em;
  font-family: 'Inter var', sans-serif;
  font-size: 16px;
  color: #34495e;
}
body {
  background-color: #f6f8fa;
}
.category-path {
  fill: none;
  stroke: white;
}
