.navbar {
  gap: 1rem;
  margin: 4em 0;
  padding: 0.25em 1em;
}
.navbar li {
  display: block;
}
.navbar a {
  text-decoration: none;
}
.navbar a:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 6px;
}
