@font-face {
  font-family: 'Inter var';
  src: url('../Inter.var.woff2');
}
html {
  box-sizing: border-box;
  font-size: 120%;
  line-height: 1.5;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.flex {
  display: flex;
  justify-content: center;
}
